@import '../../../styles/variables'

.wrapper-request-aguila
  width: 100%
  height: 100%
  position: relative
  .map
    width: 100%
    height: 100%
    position: absolute
  .menu-trips
    top: 20px
    left: 20px
    z-index: 10
    width: 300px
    position: absolute
    height: calc(100% - 40px)

@media screen and ( max-width: $break-mobile )
  .wrapper-request-aguila
    .menu-trips
      top: 0
      left: 0
      width: 100%
      height: 100%
